.td-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.td-name > span {
  font-size: 20px;
}

.td-percent {
  text-align: center;
}

.Row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: #454d55;
  margin-bottom: 1rem;
}

.Row > h1 {
  font-size: 4rem;
  color: white;
}